In [189]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [190]:
import pandas as pd
house_data = pd.read_csv('house_loan_updated.csv')          # Load house price data.
house_data.head()                                       # Observe several data samples.

,Gender,Age,Income (USD),Income Stability,Property Age,Property Location,Property Price,Loan Sanction Amount (USD)
0,F,19,1641.25,Low,1651.25,Rural,59641.82,21026.420753
1,M,29,1989.71,Low,1990.71,Urban,179858.51,60595.183366
2,F,37,1849.91,Low,1856.91,Rural,117297.62,39181.648002
3,M,65,2735.18,High,2747.18,Rural,354417.72,128497.710865
4,F,62,4741.78,High,4740.78,Urban,82049.80,39386.919336

In [191]:
house_data.count()

Gender                        47297
Age                           47297
Income (USD)                  47265
Income Stability              47285
Property Age                  47263
Property Location             47294
Property Price                47297
Loan Sanction Amount (USD)    47297
dtype: int64

In [192]:
house_data = house_data.dropna()

In [193]:
house_data.describe()

,Age,Income (USD),Property Age,Property Price,Loan Sanction Amount (USD)
count,47251.000000,47251.000000,47251.000000,4.725100e+04,47251.000000
mean,40.005185,2586.498103,2586.467247,1.350981e+05,46474.467952
std,16.086562,1557.676706,1557.737980,9.459404e+04,32545.590334
min,18.000000,372.700000,370.700000,7.859620e+03,254.586578
25%,25.000000,1653.735000,1652.820000,6.251069e+04,21775.599375
50%,40.000000,2245.460000,2244.810000,1.130936e+05,38818.433721
75%,55.000000,3128.610000,3128.570000,1.819546e+05,62574.719455
max,65.000000,54662.750000,54647.750000,1.077967e+06,366131.165218

In [194]:
house_data.isnull().sum()

Gender                        0
Age                           0
Income (USD)                  0
Income Stability              0
Property Age                  0
Property Location             0
Property Price                0
Loan Sanction Amount (USD)    0
dtype: int64

In [195]:
##Converting category labels into numerical using LabelEncoder
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
label.fit(house_data.Gender.drop_duplicates())
house_data.Gender = label.transform(house_data.Gender)
label.fit(house_data['Income Stability'].drop_duplicates())
house_data['Income Stability'] = label.transform(house_data['Income Stability'])
label.fit(house_data['Property Location'].drop_duplicates())
house_data['Property Location'] = label.transform(house_data['Property Location'])

In [196]:
house_data

,Gender,Age,Income (USD),Income Stability,Property Age,Property Location,Property Price,Loan Sanction Amount (USD)
0,0,19,1641.25,1,1651.25,0,59641.82,21026.420753
1,1,29,1989.71,1,1990.71,2,179858.51,60595.183366
2,0,37,1849.91,1,1856.91,0,117297.62,39181.648002
3,1,65,2735.18,0,2747.18,0,354417.72,128497.710865
4,0,62,4741.78,0,4740.78,2,82049.80,39386.919336
...,...,...,...,...,...,...,...,...
47292,0,62,2121.48,1,2135.48,0,240291.63,78800.491330
47293,1,38,1506.72,1,1505.72,0,218431.37,72483.293359
47294,0,20,1595.10,1,1582.10,1,154458.88,52462.861498
47295,0,50,2002.27,1,2007.27,1,72277.78,22909.596763
47296,0,46,492.91,1,497.91,0,24597.61,5941.989388

LINEAR REGRESSION MODEL

In [197]:
from sklearn.model_selection import train_test_split as holdout
from sklearn.linear_model import LinearRegression
from sklearn import metrics
# Pre-process data, determine feature x and label y
x = house_data.drop(['Loan Sanction Amount (USD)'], axis = 1)
y = house_data['Loan Sanction Amount (USD)']
# Split the data into two subsets for training and testing.
x_train, x_test, y_train, y_test = holdout(x, y, test_size=0.2, random_state=0)
print(x_train.shape)
print(x_test.shape)

(37800, 7)
(9451, 7)

In [198]:
# Initialize Linear Regression model with normalization.
Lin_reg = LinearRegression(normalize=True)
Lin_reg.fit(x_train, y_train)
print(Lin_reg.intercept_)
print(Lin_reg.coef_)

11927.678901122039
[-2.51769669e+02 -7.93352336e+01  5.89139951e-01 -1.11589577e+04
  4.37626252e-01 -6.29708551e+01  3.36185984e-01]

c:\Users\admin\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

In [205]:
Lin_reg.predict(x_test[:5])

array([19408.0136567 , 35905.70022654, 38120.1760842 , 79892.24484457,
       38812.05785755])

EVALUATE THE MODEL

In [199]:
# The mean squared error
from sklearn.metrics import mean_absolute_error
pred = Lin_reg.predict(x_test)
mean_absolute_error(y_pred=pred, y_true=y_test)

147.23895690596618

In [200]:
# The coefficient of determination
from sklearn.metrics import r2_score
print(r2_score(y_true = y_test, y_pred=pred))

0.9982035736392855